<% provide(:title, "All artists") %>


<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                  <h2> All artists </h2><br><br>
                  <h6>
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Nombre</th>
                          <th>Genero</th>
                          <th colspan="3"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @artists.each do |artist| %>
                          <tr>
                            <td><%= link_to artist.nombre, artist %></td>
                            <td><%= artist.genero %></td>
                            <% if current_user.try(:admin?)%>
                              <td><%= link_to 'Edit', artist, method: :edit %></td>
                              <td><%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                            <% end %>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                    <br>
                    <% if current_user.try(:admin?) %>
                      <%= link_to 'New Artist', new_artist_path, class: "btn btn-default btn-lg" %>
                    <% end %>
                  </h6>
            </div>
        </div>
    </div>
</header>
